<!DOCTYPE html>
<html>
<head>
  <title>Hi {{.Name}}</title>
  <link rel="icon" type="img/ico" href="{{.BaseURI}}favicon.ico" />
</head>
<body>
  <h1>Hello {{.Name}}</h1>
  <div class="wrapper">
    {{.Content}}
  </div>
</body>
</html>
