$theme-color: white;

h1 {
  color: $theme-color;
  opacity: 0.9;
  display: inline-block;
  &:after {
    content: " ";
    display: block;
    border-bottom: 2px solid $theme-color;
    transform: scaleX(0);
    transform-origin: 100%;
    transition: transform ease 1s;
  }
  &.trigger:after {
    transform-origin: 0%;
    transform: scaleX(1);
  }
}

body {
  background: url('images/pikachu.jpg') 0% 100% no-repeat;
  background-attachment: fixed;
  height: 100%;
}
