<!DOCTYPE html>
<html>
<head>
  <title>Hi {{.Name}}</title>
  <link rel="icon" type="img/ico" href="{{.BaseURI}}favicon.ico" />
  <link rel="stylesheet" href="{{.BaseURI}}style.css" media="screen" />
</head>
<body>
  <h1>Hello {{.Name}}</h1>
  <div class="wrapper">
    {{.Content}}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{.BaseURI}}script.js" type="text/javascript"></script>
</body>
</html>
