<!DOCTYPE html>
<html>
<head>
  <title>Hi Test</title>
  <link rel="icon" type="img/ico" href="favicon.ico" />
</head>
<body>
  <h1>Hello Test</h1>
  <div class="wrapper">
    No content here
  </div>
</body>
</html>
